# STM32CubeIDE
*.o
*.d
*.elf
*.hex
*.bin
*.map
*.lst
*.axf
*.dep
Debug/
Release/
*.launch
*.settings/

# VSCode & Code::Blocks
.vscode/
*.workspace
*.cbp

# Node-RED
flows_*.json
.flow.json.backup
*.backup
.node-red/
node_modules/

# General
*.log
*.swp
*.DS_Store
*.tmp
__pycache__/
*.pyc
*.bak
*.old
*.out
